!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body
    = partial "includes/google/gtm"
    = partial "includes/layout/header-simple"
    = yield
    = partial "includes/layout/scripts"

%script{ src: "/javascripts/cbextras.js", type: "text/javascript", "defer": "true" }
